nav-bar ul{
    display: flex;
    justify-content: space-around;
}
.maincontainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;

}
header {
    display: flex;
    justify-content: space-around;
}
h1 {
    color: white;
    font-family: Didot, serif;
    text-shadow: 1px 1px #1a0b0b;
    font-size: 80px;
    margin: 0 0 0 30px;
    
    flex-grow: 1;
}
img {
    width: 40%;
    height: 100%;
    border: rgb(197, 192, 192) 10px solid;
    padding: 1px;  
}

p {
    width: 50%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: Didot, sans-serif;
    color: rgb(197, 192, 192);
    line-height: 1.5;
}
body {
    background-color: rgb(70, 65, 64);
}
a {
    color: rgb(197, 104, 104);
    font-family: Didot, sans-serif;
    text-shadow: 1px 1px #1a0b0b;
}
a:hover {
    color: white;
    text-shadow: 1px 1px #1a0b0b;
}
ul {
    list-style-type: none;
    margin: 60px 60px 0px;
    flex-grow: 3;
    align-self: center;
}
a:link {
    text-decoration: none;
    font-size: 20px;
}
footer{
    padding-top: 10px;
    position: relative;
    bottom: 0;
    color: rgb(197, 104, 104);
    font-family: Didot, sans-serif;
    text-shadow: 1px 1px #1a0b0b;
}
.currentpage {
    text-decoration: underline;
}
span {
    color: rgb(197, 104, 104);
    font-family: Didot, sans-serif;
    text-shadow: 1px 1px #1a0b0b;
    font-size: 40px;
}
@media only screen and (max-width: 1130px) {
    h1 {
        font-size: 55px;
        margin: 30px 0 0 30px;
    }
    img {
        width: 35%;
    }
}
@media only screen and (max-width : 970px) {
    h1 {
        font-size: 55px;
        margin: 0 auto;
        text-align: center;
    }
    header {
        flex-wrap: wrap;
    }
    nav-bar ul {
        margin: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 760px) {
    img {
        width: 75%;
    }
    .maincontainer {
        flex-wrap: wrap;
    }
    p {
        width: 75%;
    }
    nav-bar ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        }
    h1 {
        font-size: 45px;
    }
}